@using eShop.UI.Models.Link;

<aside id="aside-menu" class="d-flex flex-column m-2 ms-0 mt-0 p-2 pt-0 vh-100" style="min-width: 160px; max-width: 200px;">
    @foreach (var group in Service!.CategoryLinkGroups)
    {
        <LinkMainComponent LinkGroup="group" OnLinkClick="OnClick" />
    }
    @foreach (var group in Service.FilterGroups)
    {
        <FilterComponent FilterGroup="group"></FilterComponent>
    }

    <button class="btn btn-outline-primary rounded-0 mt-2" @onclick="FilterProducts">Apply Filter</button>
</aside>

@code
{
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetLinkGroup();
            await OnChange.InvokeAsync();
        }
    }

    async Task OnClick(int id)
    {
        if (OnChange.HasDelegate && Service is not null)
        {
            await Service.OnCategoryLinkClick(id);
            await OnChange.InvokeAsync();
        }
    }

    async Task FilterProducts()
    {
        if (Service is not null)
        {
            await Service.FilterProducts();
            await OnChange.InvokeAsync();
        }
    }

    /*List<LinkGroup> CategoryLinkGroups { get; set; } = new()
    {
        new LinkGroup()
        {
            Name = "Categories",
            LinkOptions = new ()
            {
                new LinkOption {Id = 1, Name = "Sedan", IsSelected = true },
                new LinkOption {Id = 2, Name = "SUV", IsSelected = false },
                new LinkOption {Id = 3, Name = "Sport car", IsSelected = false },
                new LinkOption {Id = 4, Name = "Family car", IsSelected = false }
            }
        }
    };*/

}
