@page "/"

<PageTitle>Home</PageTitle>

<HeaderComponent/>
<section id="viewport" class="py-2 vh-100">

    <div class="shadow-lg p-5 mx-5 d-flex">
        <!-- Sidebar -->
        <div class="flex-shrink-1 me-4">
            <AsideComponent/>
        </div>
        <!-- Main content -->
        <div class="flex-wrap w-100 pt-3">
            <MainComponent/>
        </div>
    </div>
</section>
