@page "/"
@inject UIService Service;

<PageTitle>Home</PageTitle>

<HeaderComponent UICartService="Service" />
<section id="viewport" class="py-2 vh-100">

    <div class="shadow-lg p-3 mx-5 d-flex" style="min-width: 630px;">
        <CascadingValue Value="Service" Name="Service">
        <!-- Sidebar -->
        <div class="flex-shrink-1 me-4">
            <AsideComponent OnChange="OnChange"/>
        </div>
        <!-- Main content -->
            <MainComponent OnChange="OnChange"/>
        </CascadingValue>
    </div>
</section>

@code
{
    void OnChange()
    {

    }
}
