@page "/"

<HeaderComponent/>
<section class="bg-light py-4">

    <div class="bg-white shadow-lg p-5 mx-5 d-flex v-100">
            <!-- Sidebar -->
            <div class="flex-shrink-1 me-4">
                <AsideComponent/>
                </div>
            <!-- Main content -->
            <div class="flex-wrap w-100 pt-3">
                <MainComponent/>
                </div>
    </div>
</section>

