

<div class="ps-3">
    <h6 class="font-weight-semibold">@LinkGroup?.Name</h6>
    <ul class="list-unstyled">
        @foreach (var link in LinkGroup!.LinkOptions)
        {
            <LinkComponent LinkOption="link" OnLinkClick="OnClick" />
        }
    </ul>
</div>
<span class="border-bottom"></span>


@code {
    [Parameter] public EventCallback<int> OnLinkClick { get; set; }
    [Parameter] public LinkGroup? LinkGroup { get; set; }

    void OnClick(int id)
    {
        if (OnLinkClick.HasDelegate)
        {
            OnLinkClick.InvokeAsync(id);
        }
    }
}
